footer {
    color: #fff;
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer * {
    color: #000;
}

footer h2 {
    text-transform: uppercase;
}

.sns-list {
    display: flex;
    gap: 10px;
}

.sns-list img{
    height: 30px;
}

.sns-list li a {
    display: flex;
    align-items: center;
}